{% load i18n %}

{#<h4>{% trans 'Queries' %}</h4>#}
{% if records %}
    <dl>
    {% for record in records %}
        <dt>
        {{ record.method }} {{record.status_code}} {{record.path}}  QueryHash-> {{record.hash}}
        </dt>
        <dd>time: {{record.duration}} ms</dd>
        <dd>full_url: {{record.full_url}}</dd>
        <dd>
            <details>
                <summary>Show Json Body</summary>
                <code class="json_code" contenteditable="true" >{{record.body}}</code>
            </details>
        </dd>
        <dd>
            <details>
                <summary>Show Json Response</summary>
                <code class="json_code" contenteditable="true" >{{record.response}}</code>
            </details>
        </dd>
        <dd>
            <details>
                <summary>Show Stacktrace</summary>
                <pre class="djdt-stack">
                    {{record.stacktrace}}
                </pre>
            </details>
        </dd>
    {% endfor %}
    </dl>
{% else %}
    {% if debug %}
        <p>No Elastic queries were recorded during this request.</p>
    {% else %}
        <p style="padding: 10px 15px;">
            <code style="display: inline;">DEBUG</code> is set to <code style="display: inline;">False</code>. This means
            that Elastic query logging is disabled.
        </p>
    {% endif %}
{% endif %}
