django-debug-toolbar>=3.0
elasticsearch

pytest
isort
flake8
flake8-print  # Forbid print statement in code use logging. instead
flake8-bugbear  # Catch common errors
flake8-printf-formatting  #
black>=22.1.0
pre-commit
